/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1,6;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*définir la propriété bow-sizing comme propriété par défaut pour tout mon élément html,
cela me permettre de bien définir la taille des éléments en longeur et largeur */
html{
	box-sizing: border-box;
}
/*cette propriété n'est pas héritée par le reste des éléments,
 je vais donc définir la propriété box-sizing pour le reste de mes éléments dans le document html, 
 ::before (avant d'jouter qqch à un élément) 
 ::after  (après avoir ajouté qqch à un élément)
 par exemple: si je veux ajouter un coeur devant tous les éléments : 
 a::before{content:  "♥";}
 */
 *, *::before, *::after{
	 box-sizing: border-box;
 }