/*
MA PALETTE DE COULEURS :
 le bleu	   	  	#0065FC		rgb(0, 101, 252)
 le bleu claire 	#DEEBFF		rgb(222, 235, 255)
 le gris			#F2F2F2		rgb(242,242,242)
 le blanc			#ffffff		rgb(255,255,255)
 le gris foncé		#404040		rgb(64,64,64) ->couleur text header
 couleurTextemainNAv #606060 	rgb(96,96,96)
*/

/*
MA POLICE :
RALEWAY importée depuis le site google fonts 

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');*/

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	
}

body {
	background-color: #ffffff;
	font-family: Raleway;
	color: #606060;
	
	

}

ul {
	/*I want to remove all the bullet points */
	list-style-type: none; 

}

a {
	/*I want to remove my underlines*/
	text-decoration: none;
	/*I want to change the color of my links to have the same color as the text */
	color: #606060;

}

h1 {
	/*I want to make my titles a bit bold*/
	color: black;
	font-size: larger;
	padding:1rem;
	/*I want to have a margin for my titles on the top and bottom, I could do the same with paragraphs if I had any*/
}

h2{
	color: black;
	font-size: larger;
	font-weight: bold;
}

p{
	font-size: medium;
}


img {
	/*I want my images to fit in the container*/
	width: 100%;
}

/*Je commence tout d'abord par la version pour petit écran, comme je veux que ca reste fluide, 
quand la taille de l'écran change, je vais définir une largeur maximum et non pas juste une largeur */

.wrapper{
	max-width: 768px; /*Un point d'arrêt fluide */
	margin: 0px auto;; /*Pour centrer les éléments: 
	je vais définir une marge égale à 0 en haut et en bas et auto à droite et à gauche*/
	
}


/*Après avoir crée en premier la page html, importé les icones, les fonts et défini les couleurs, je vais maintenant 
définir cinq selecteurs pour mes cinq zones*/



/*header*/


#header{

	background-color: #ffffff;
	padding: 0px 0px; /*On a 0 en haut et en bas et 20 a droite et a gauche */
	height: 120px;
	padding-top: 0px;
	margin-top: 0px;
	
	max-height: 108px;
	
}

#header ul li:last-child a{
	color:#0065fc;
	font-weight: bold!important;
}


/*Sur un petit écran : le logo, après avoir affiché la grille de photoshop, occupe 6 grilles,
 ce qui correspond à 48.78% selon le site gridinator.com*/
 
#header img{

	max-width: 90.78%;
}


#header ul{
	display: flex;
	margin-top: auto;
	
}

#header ul li{
	display: flex;
	font-family: Raleway, Verdana, sans-serif;	
	margin-right: 2rem;
	
}

#header ul li a{
	display: flex;
	font-family: Raleway, Verdana, sans-serif;
	color: #404040;
	padding-top: 2rem;
	
}

#header ul li a:focus {
		border-bottom: solid 3px #609ffd;

		color: #0065FC;
	}



/*mainNav*/


#mainNav{
	background-color: #ffffff;
	padding-bottom:2rem; /* top, right, bottom, left */
	/*border: 2px solid black;*/
	height: 278px;
}

#mainNav header{
	
	/*border: 2px solid red;*/
	padding-bottom: 1rem;
	padding-top:0.75rem;
}

#mainNav header h2{
	color: black;
	font-weight: bold;
	font-size: larger;
}

#mainNav header p{
	font-weight: bold;
}

#mainNav div.search{
	/*border: 2px solid green;*/
	padding-bottom: 1.5rem;
	padding-top:0.25rem;
	
}

#mainNav nav{
	/*border: 2px solid blue;*/
	padding-bottom: 3rem;
	padding-top: 1rem;
}

#mainNav ul li a{
	padding:1rem;
	margin-left:1.5rem;
}



#mainNav form i{
	
	border-radius: 22px;
	border: 2px solid #f2f2f2;
    margin: 0;
    font-weight: bold;
    padding: 5px;
	background-color: #f2f2f2;
}

form.search-form button.Rechercher{
	display:none;
}


/*mainNav buttons*/


.button-group{

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	
	
}

.button-group li.button{
	margin-right: 2rem;
}


.button-group li a{
	
	font-weight: bold!important;
	border: 2px solid #f2f2f2;
	border-radius: 22px;
	margin: 10px 10px 10px 0;
	font-weight: bold; 
	padding-right: 5px;

}

.fas fa-search{

	background-color:#0065fc;
	color: #ffffff;
	font-size: 32pt ;
	width: 50px;
	height: 50px;
	
}

.fa-money-bill-wave:before, .fa-child:before, .fa-heart:before, .fa-heart:before, .fa-dog:before{
	color: #0065fc;
	padding-right: 12px;
	background-color:#DEEBFF;
	border-radius: 22px;
	padding:13px;
	border: 2px solid #DEEBFF;
}

/*Les éléments de type inline-flex se mettent les uns à côté des autres sans espacements */


/*
.button a{
	
	/*border-radius=0 pas de coins arrondis 
	border-radius: ;
	color: ;
	font-size: ;
	width: ;
	height: ;
	display: ;
}*/

.button a:hover{

	background-color: #DEEBFF ;
	
}


/*mainContent*/



.card{
	overflow: hidden;
	box-shadow: 0px 2px #f2f2f2;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	/*ease-in - specifies a transition effect with a slow start*/
	transition: transform 200ms ease-in;
	/*Transition effects are animation options*/
}

.card img{
	height: 12rem;
	width: 100%;
	object-fit: cover;
}

.card__title{
	padding: 1rem;
}

.card__description{
	padding: 0 1rem;
}

.card div.card__body:hover{
	transform:scale(1.02);
}

#mainContent aside{
	background-color: #f2f2f2 ;
	/*padding: la marge intérieure vs margin: la marge extérieure*/
	padding: 0px 20px; /*0 en haut et en bas et 20px à droite et à gauche*/
	border-radius: 22px;	
	grid-template-columns: repeat(auto-fit, minmax(12rem,16rem));
	grid-gap:2rem;
	justify-content: center;
}

#mainContent {
	margin-top: 54px;	
	/*
	margin-bottom: 72px;
	max-height: 620px;
	*/
}

.aside figcaption{
	background-color: #ffffff;
	/*avec le rgba je définis une opacité à mon titre*/
	background-color: rgba(255,255,255,0.80);
	/*
	padding: ;
	color: ;
		*/
	font-family: Raleway, Verdana, sans-serif;
	/*
	font-size: 32pt;
		*/


}




#mainContent section{
	background-color: #ffffff;
	padding: 0px 20px;
	border-radius: 22px;	
	grid-template-columns: repeat(auto-fit, minmax(12rem,16rem));
	grid-gap:2rem;
	justify-content: center;

}


/*Additional content*/



#additionalContent{
	background-color: #ffffff;
	padding: 0px 20px;
	
	grid-template-columns: repeat(auto-fit, minmax(12rem,16rem));
	grid-gap:2rem;
	justify-content: center;
}




/*footer*/


.footer{
	background-color: #f2f2f2;	

	width: 100%;
	
	
}

.footer div.container{
	display: flex;
	justify-content: start;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 198px;
	flex-direction: column;

}


.footer section{
	margin-right: auto;
}

.footer h1{
	padding-left: 0;
}

/*STARS*/



/* Par défaut, une étoile est en grise,
   avec un padding */

.fa-star {
	color: #f2f2f2;
	padding: 0.0625rem;
}

/* Si elle porte en plus la classe '.blue', elle sera en bleu. */
.fa-star.blue {
	color: #0065fc;
}


/* Le groupe '.stars' positionne les étoiles
les unes à côté des autres sans espacements. */
#stars {
		display: inline-flex;
		justify-content: center;
		font-size: 1em;
	}


/*--------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1024px){

	

/*wrapper*/

.wrapper{
		max-width: 1024px;

	}	



/*header*/


	#header ul{
		display: flex;
		justify-content: flex-end;
		align-items: start;
	}

	#header ul li a:focus {
		border-bottom: none;
		border-top: solid 2px #609ffd;
		color: #609ffd;
		margin-top: 0%;
	}

	#header ul li:first-child{
		margin-right: auto;
		
	}

	#header img{
		max-width: 30.75%;
	}
	

	#header {
		height: 144px;
	}



/*mainNav*/


	form.search-form button.search_icon{
		display:none;
	}

	form.search-form button.Rechercher{
		display: initial;
		background-color: #0065FC;
		border-radius: 1px 17px 17px 1px;
		padding: 15px 25px;
		color: white;
		font-size: medium;
		border: 2px solid #0065FC;
	}

	#mainNav form i{
	
		border-radius: 13px 1px 1px 13px;
		border: 2px solid #f2f2f2;
		margin: 0;
		font-weight: bold;
		padding: 15px;
		background-color: #f2f2f2;
		color: black;
	}

	#site-search{
		padding: 15px;
		border: 2px solid #F2F2F2;
		font-weight: bold;
		font-size: medium;
	
	}

	::placeholder {
		color: black;
		opacity: 1; /* Firefox */
	  }
	  
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color: black;
	  }
	  
	::-ms-input-placeholder { /* Microsoft Edge */
	   color: black;
	  }

	


/*mainContent*/



	#mainContent div.row {
		display: flex;
		justify-content: space-between;
	}

	#mainContent section{
		background-color: #F2F2F2;
		border-radius: 22px;
	}




/*footer*/

	#footer div.row {
		display: flex;
		margin-left: 2rem;
		margin-right: 3rem;
		align-items: flex-start;
		height: 180px;
		
	}

	.footer div.container{
		display: flex;
		justify-content: start;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		height: 198px;
		flex-direction: row;
	}

	
}/*END OF @MEDIA 1024 */


/*-------------------------------------------------------------------------------------------------------------------------------*/
	
@media (max-width: 1480px){


/*wrapper*/

	.wrapper{
		max-width: 1480px;
	}


/*header*/

	#header ul li a:focus {
		border-bottom: none;
		border-top: solid 2px #609ffd;
		color: #609ffd;
		margin-top: 0%;
	}

	#header ul{
		display: flex;
		justify-content: flex-end;
		align-items: start;
	}

	#header ul li:first-child{
		margin-right: auto;
		
	}

	#header {
		height: 100px;
	}


	
	#header img{
		max-width: 23%;
	}


	
/*mainNav*/

	

	form.search-form button.search_icon{
		display:none;
	}

	form.search-form button.Rechercher{
		display: initial;
		background-color: #0065FC;
		border-radius: 1px 17px 17px 1px;
		padding: 15px 25px;
		color: white;
		font-size: medium;
		border: 2px solid #0065FC;
	}

	#mainNav form i{
	
		border-radius: 13px 1px 1px 13px;
		border: 2px solid #f2f2f2;
		margin: 0;
		font-weight: bold;
		padding: 15px;
		background-color: #f2f2f2;
		color: black;
	}

	.search-form{
		display: inline-flex;
	}

	
	#site-search{
		padding: 15px;
		border: 2px solid #F2F2F2;
		font-weight: bold;
		font-size: medium;
	
	}

	
	::placeholder {
		color: black;
		opacity: 1; /* Firefox */
	  }
	  
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color: black;
	  }
	  
	::-ms-input-placeholder { /* Microsoft Edge */
	   color: black;
	  }

	
/*mainContent*/


	#mainContent div.row {
		display: flex;
		justify-content: space-between;
	}

	#mainContent section {
		background-color: #F2F2F2;
		border-radius: 22px;
	}


/*footer*/


	#footer div.row {
		display: flex;
		margin-left: 2rem;
		margin-right: 3rem;
		height: 180px;
	}

	.footer div.container{
		display: flex;
		justify-content: start;
		flex-wrap: wrap;
		align-items: center;
		
		height: 198px;
		
	}

	


}  /*END OF @MEDIA 1480 */